* {
  margin: 0;
}


.score-container {
  display: flex; 
  gap: 16px; 
  justify-content: center; 
  margin-top: 100px; 
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
